
#app {
	position	:	relative;
}

.players-container {
	width		:	250px;
	height		:	500px;
	background	:	rgba(255,0,0,0.1);
	position	:	absolute;
	top			:	40px;
}

.top-bar-container	{
	width		:	650px;
	height		:	40px;
	background	:	rgba(0,255,0,0.3);
}

.edit-pane-container {
	width		:	400px;
	height		:	500px;
	background	:	rgba(0,0,255,0.2);
	position	:	absolute;
	left		:	250px;
	top			:	40px;
}

.players-list {
	overflow-x:	hidden;
	overflow-y: scroll;
	height:		450px;
	width: 		100%;
}

.players-controls {
	height		:	50px
}

.player-item {
	margin		:	2px;
	width 		:	100%;
	height 		:	30px;
	background 	:	rgba(255,0,0,0.6);
	border-radius	:	8px;
}

.because-i-can{
	display		:	inline-block;
	background	:	rgba(0,255,130,1.0);
	height		:	20px;
}

.name-go-here{
	display		:	inline-block;
	width		:	125px;
	height		:	25px;
	overflow	:	hidden;
}

.check-box{
	margin		:	auto;
	display		:	inline-block;
}

.player-item.selected{
	background :	rgba(0,0,255,0.2);
}

.player-item.active{
	border : 2px solid black;
}
